<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <context:component-scan base-package="com.ratnesh.ems.*" />
    <mvc:annotation-driven />
    <mvc:resources mapping="/resource/**" location="/resource/"/>
    <mvc:resources mapping="/employee_pictures/**" location="/employee_pictures/"/>

<!--Designation Dao and Servive wiring-->
    <bean class="com.ratnesh.ems.dao.DesignationDaoImpl" id="designationDao">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    <bean class="com.ratnesh.ems.service.DesignationServiceImpl" id="designationService">
        <property name="designationDao" ref="designationDao"/>
    </bean>
    <!--Company Dao and Servive wiring-->
    <bean class="com.ratnesh.ems.dao.CompanyDaoImpl" id="companyDao">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean class="com.ratnesh.ems.service.CompanyServiceImpl" id="companyService">
        <property name="companyDao" ref="companyDao"/>
    </bean>
    <!--Salary Dao and Servive wiring-->
    <bean class="com.ratnesh.ems.dao.SalaryDaoImpl" id="salaryDao">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean class="com.ratnesh.ems.service.SalaryServiceImpl" id="salaryService">
        <property name="salaryDao" ref="salaryDao"/>

    </bean>

    <bean class="com.ratnesh.ems.dao.EmployeeDaoImpl" id="employeeDao">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean class="com.ratnesh.ems.service.EmployeeServiceImpl" id="employeeService">
        <property name="employeeDao" ref="employeeDao"/>
    </bean>

    <!--<bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->


    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ems"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>

    </bean>

    <!-- Hibernate 4 SessionFactory Bean definition -->
    <bean id="hibernate4AnnotatedSessionFactory"
                class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.ratnesh.ems.model.Designation</value>
                <value>com.ratnesh.ems.model.Branch</value>
                <value>com.ratnesh.ems.model.Salary</value>
                <value>com.ratnesh.ems.model.Employee</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>


    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <property name="maxUploadSize" value="5000000" />
    </bean>
    <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/view/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
</beans>